@use '../../style-utils/index' as u;

.radio {
  display: flex;
  flex-grow: 1;
  transition: background-color ease-in-out .15s;

  &:not(:has(:checked)) {
    &:hover {
      background: map-get(u.$palette, color-white-5);

      & .radio__label {
        color: black;
      }
    }
  }

  &:has(:checked) {
    pointer-events: none;
    border-color: transparent;
    background: map-get(u.$palette, color-blue-1);

    .radio__label {
      color: map-get(u.$palette, color-white-2);
    }
  }

  &__radio {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }

  &__label {
    flex-grow: 1;
    justify-content: center;
    transition: color ease-in-out .15s;
    cursor: pointer;
    color: map-get(u.$palette, color-black-1);
    display: flex;
    align-items: center;
    padding: u.rem(15);
  }

}