@use '../../style-utils/index' as u;

.label {
  text-align: center;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: .15s;
  background-color: map-get(u.$palette, color-white-2);
  flex-grow: 1;
  justify-content: center;
  cursor: pointer;
  color: map-get(u.$palette, color-black-1);
  display: flex;
  align-items: center;
  padding: u.rem(15);
}

.radio {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.root {
  display: flex;
  flex-grow: 1;
  transition: background-color ease-in-out .15s;


  &:not(:has(:checked)) {
    &:hover {
      background: map-get(u.$palette, color-white-5);

      & .label {
        color: black;
      }
    }
  }

  &:has(:checked) {
    pointer-events: none;
    border-color: transparent;

    .label {
      background: map-get(u.$palette, color-blue-1);
      color: map-get(u.$palette, color-white-2);
      position: relative;

      &:focus-within::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 u.rem(9) 0 #0027ff;
      }
    }
  }


}