@use '../../style-utils/index' as u;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.amount {
  font-size: u.rem(24);
  color: map-get(u.$palette, color-blue-1);
  font-weight: 600;
}

.company-logo {
  max-height: u.rem(36);
}

.img {
  object-fit: contain;
  max-height: 100%;
}
