@use '../../sass-styles/sass/util' as u;

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__amount {
    font-size: u.rem(24);
    color: var(--color-blue-1);
    font-weight: 600;
  }

  &__company-logo {
    max-height: u.rem(36);
  }

  &__img {
    object-fit: contain;
    max-height: 100%;
  }
}