@use '../../style-utils/index' as u;


.root {
}

.list {
  list-style-type: none;
  display: flex;
  @include u.breakpoint(small) {
    flex-direction: column;
    gap: u.rem(10);
  }
}

.item {
  flex-grow: 1;
}
