:root,
[data-theme="default"] {
  --color-white-1: #F3F7FA;
  --color-white-2: #FFFFFF;
  --color-white-3: #F1FCFF;
  --color-white-4: #9ABBCE;
  --color-white-5: #DFE5EC;
  --color-white-6: #A0B0B9;
  --color-white-7: #767676;

  --color-blue-1: #2196F3;
  --color-blue-2: rgba(33, 150, 243, 0.79);

  --color-black-1: #4A4A4A;
}

[data-theme] {
  background-color: var(--color-white-1);
}
