@use '../../style-utils/index' as u;

.root {
  display: flex;
  flex-direction: column;
  gap: u.rem(20);

}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: u.rem(20);
}

.down {
  display: flex;
}

.more {
  display: flex;
  flex-grow: 1;
}

.button {
  flex-grow: 1;
}
