@use '../../style-utils/index' as u;

.root {
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: u.rem(10);
  @include u.breakpoint(small) {
    flex-direction: row;
    justify-content: space-between;
  }
}
