@use '../../styles-utils/index' as u;

.filter {
  overflow: hidden;
  background-color: map-get(u.$palette, color-white-2);
  border-radius: u.rem(5);
  padding: u.rem(20) u.rem(20) 0 u.rem(20);

  &__header {
    margin-bottom: u.rem(10);

  }

  &__heading {
    font-size: u.rem(12);
    text-transform: uppercase;
  }

  &__checkboxes {
    margin-inline: u.rem(-20);
  }
}