@use '../../style-utils/index' as u;

.card {
  display: flex;
  flex-direction: column;
  padding: u.rem(20);
  gap: u.rem(20);
  background-color: map-get(u.$palette, color-white-2);
  border-radius: u.rem(5);
  cursor: pointer;
  box-shadow: 0 u.rem(3) u.rem(6) 0 map-get(u.$palette, color-white-7);
  transition-property: transform, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;

  &:hover {
    box-shadow: 0 u.rem(4) u.rem(8) 0 map-get(u.$palette, color-white-7);
    transform: scale(1.01);
  }

  &:active {
    box-shadow: 0 u.rem(2) u.rem(5) 0 map-get(u.$palette, color-white-7);
    transform: scale(0.99);
  }
}