@use '../../style-utils/index' as u;

.list {
  list-style-type: none;
  display: grid;
  @include u.breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include u.breakpoint(small) {
    grid-template-columns: 1fr;
  }
}