@use '../../styles-utils/index' as u;

.time {
  gap: u.rem(5);
  display: flex;
  flex-direction: column;

  &__heading {
    color: map-get(u.$palette, color-white-6);
    font-weight: 500;
    font-size: u.rem(12);
    text-transform: uppercase;
  }

  &__description {
    font-size: u.rem(14);
    color: map-get(u.$palette, color-black-1);
  }
}