@use '../../sass-styles/sass/util' as u;

.radios {
  display: flex;

  @include u.breakpoint(small) {
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid var(--color-white-5);
    background-color: var(--color-white-2);
    transition: background-color ease-in-out .15s;

    &:first-child {
      border-radius: u.rem(5) 0 0 u.rem(5);
      @include u.breakpoint(small) {
        border-radius: u.rem(5) u.rem(5) 0 0;

      }
    }

    &:last-child {
      border-radius: 0 u.rem(5) u.rem(5) 0;
      @include u.breakpoint(small) {
        border-radius: 0 0 u.rem(5) u.rem(5);

      }
    }

    &:not(:has(:checked)) {
      &:hover {
        background: var(--color-white-5);

        & .radio__label {
          color: black;
        }
      }
    }

    &:has(:checked) {
      pointer-events: none;
      border-color: transparent;
      background: var(--color-blue-1);

      .radio__label {
        color: var(--color-white-2);
      }
    }
  }
}